<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sonas_Pictura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sonas_Pictura.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sonas_Pictura.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Sonas_Pictura.Properties.Settings>
      <setting name="radarCol" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="radarSize" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="overlayOpacity" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="radarLines" serializeAs="String">
        <value>False</value>
      </setting>
    </Sonas_Pictura.Properties.Settings>
    <Sonas_Pictura.User>
      <setting name="radarCol" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="RadarLines" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="opacity" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="radarSize" serializeAs="String">
        <value>150</value>
      </setting>
    </Sonas_Pictura.User>
    <Sonas_Pictura.Settings1>
      <setting name="radarCol" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="RadarLines" serializeAs="String">
        <value>False</value>
      </setting>
    </Sonas_Pictura.Settings1>
  </userSettings>
</configuration>